<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chronos</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Chronos.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toastr.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div>
        <main role="main" class="d-flex main-content pb-3">

            <!-- Sidebar -->
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh;">
                <a asp-action="Index" asp-controller="Dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <span class="fs-4">
                        <img src="~/images/chronos-horizontal.png" style="width: 200px; height: 45px;" />
                    </span>
                </a>
                <hr>
                @{
                    CurrentView currentView = CurrentView.Other;
                    if (ViewBag.CurrentView is CurrentView)
                    {
                        currentView = (CurrentView)ViewBag.CurrentView;
                    }
                }

                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="~/Dashboard" class="nav-link @AppHelper.GetActiveClass(currentView, CurrentView.Dashboard)">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Organization/Update" class="nav-link @AppHelper.GetActiveClass(currentView, CurrentView.Organization)">
                            Organization
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Teams" class="nav-link @AppHelper.GetActiveClass(currentView, CurrentView.Teams)">
                            Teams
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Projects" class="nav-link @AppHelper.GetActiveClass(currentView, CurrentView.Projects)">
                            Project
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Tasks" class="nav-link @AppHelper.GetActiveClass(currentView, CurrentView.Tasks)">
                            Tasks
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>mdo</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>

            <!-- Main Content -->
            <div class="flex-grow-1">
                <!-- Page Header -->
                <div class="bg-light p-3 mb-4 rounded shadow-sm">
                    <h2 class="mb-0">@ViewData["Title"]</h2>
                </div>
                <div class="p-4">
                    @RenderBody()
                </div>
            </div>

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Chronos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/toastr.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

    @if (null != TempData["AlertMessage"] && null != TempData["AlertType"])
    {
        var alertType = (OperationStatus)TempData["AlertType"]!;
        var alertMessage = TempData["AlertMessage"];

        <script type="text/javascript">
            @if (alertType == OperationStatus.Succeeded)
            {
                <text>
                    window.toastr.success("@alertMessage");
                </text>
            }
            else if (alertType == OperationStatus.Warning)
            {
                <text>
                    window.toastr.warning("@alertMessage");
                </text>
            }
            else if (alertType == OperationStatus.Failed)
            {
                <text>
                    window.toastr.error("@alertMessage");
                </text>
            }
        </script>
    }


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

